#backgroundImg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#lay {
    opacity: 0;
    background: black;
    position: fixed;
    z-index: -0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#content {
    margin-left: 3%;
    margin-right: 3%;
    overflow: hidden;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
}

#quoteArea{
    margin-top: 3%;
    position: relative;
    padding: 3%;
    max-width: 80vh;
    text-shadow: 0 0 1px black;
    font-family: 'Crimson Text', serif;
}

#quote {
    color: #FCFCF4;
    font-size: 32px;
    font-style: oblique;
}

#author {
    color: #FAF0E6;
    float: right;
    font-size: 20px;
}

/*modal*/

body > .modal {
    display: none;
}

.modalQuoteRow {
    border-bottom: 1px solid #578ba1;
}

.modalQuoteText {
    color: #578ba1;
    padding-top: 3%;
    font-size: 15px;
}

.modalQuoteAuthor {
    padding-top: 1%;
    color: #49778b;
    opacity: 0.8;
    text-shadow: 0 0 1px #c99225;
    font-size: 10px;
}

.modalQuoteDate {
    font-size: 8px;
}


#layMenu {
    opacity: 0;
    position: fixed;
    z-index: -0;
    width: 25vw;
    height: 100vh;
    right: 0;
    object-fit: cover;

    background: black;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, .1) 5%, rgba(0, 0, 0, 1) 10%); /*Chrome - Safari 5.1-6*/
    background: linear-gradient(left, rgba(1, 0, 0, .4) 5%, rgba(255, 255, 255, 1)); /*Standard*/

}

html {
cursor: default;
}

.linksContainer {
    opacity: 0;
    width: 23vw;
    position: relative;
        color: grey;
    text-align: right;
    font-size: 22px;
    right: 10px;
    font-family: 'Ledger', serif;
}

.linksContainer a{
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
    text-shadow: 0 0 1px #black
}
.linksContainer a:hover {
    color: white
}

#topLinksContainer {
    position: absolute;
    top: 22%;
}

#bottomLinksContainer {
    position: absolute;
    bottom: 10px;
}
