#backgroundImg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#lay {
    opacity: 0;
    background: black;
    position: fixed;
    z-index: -0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#content {
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
}

#quoteArea{
    position: relative;
    padding: 7%;
    max-width: 80vh;
    text-shadow: 1px 1px black;
    font-family: 'Crimson Text', serif;
}

#quote {
    color: #FCFCF4;
    font-size: 32px;
    font-style: oblique;
}

#author {
    color: #FAF0E6;
    float: right;
    font-size: 20px;
}

/*modal*/

body > .modal {
    display: none;
}

.modalQuoteRow {
    border-bottom: 1px solid #578ba1;
}

.modalQuoteText {
    color: #578ba1;
    padding-top: 3%;
    font-size: 15px;
}

.modalQuoteAuthor {
    padding-top: 1%;
    color: #49778b;
    opacity: 0.8;
    text-shadow: 0 0 50px #c99225;
    font-size: 10px;
}

.modalQuoteDate {
    font-size: 8px;
}

.linksContainer {
    color: #49778b;
    position: fixed;
    text-align: left;
    right: 10px;
}

#topLinksContainer {
    top: 10px;
}

#bottomLinksContainer {
    bottom: 10px;
}
